* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    background-image: url(https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

header {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}

.avatar {
    width: 200px;
}

hr {
    width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(227, 238, 238);
}

section,
footer {
    width: 800px;
    border: 1px solid rgb(221, 236, 233);
    background-color: rgb(222, 226, 226);
    padding: 10px;
    margin: 5px auto;
}

.block {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    padding: 1px;
    box-sizing: border-box;
    overflow: hidden;
    overflow: scroll;
}

button:hover {
    background-color: rgb(148, 183, 143);
    border: 1px solid rgb(9, 8, 8);
}

a {
    text-decoration: none;
    color: rgb(59, 27, 217);
}
input {
    margin: 2px 0px;
}

.profile {
    width: 60px;
    margin: 10px;
}

.profile2 {
    height: 30px;
}